<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form method="post" enctype="multipart/form-data" action="/upload">
		<input type="file" name="file">
		<input type="submit" value="Submit">
	</form>

</body>
</html>