<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

		<form id="uploadForm" enctype="multipart/form-data" method="post" action="/encrypt">
			<input type="file" name="enc" />
			<input type="submit" value="ENCRYPT File" name="submit">
		</form>

	<form id="uploadForm" enctype="multipart/form-data" method="post" action="/decrypt">
		<input type="file" name="dec" />
		<input type="submit" value="DECRYPT File" name="submit">
	</form>

</body>
</html>