<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form id="uploadForm" enctype="multipart/form-data" method="post" action="/uploads">
		<input type="file" name="avatar" />
		<input type="submit" value="Upload File" name="submit">
	</form>



</body>
</html>