<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Font awesome icons -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- RALEWAY FONT -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500" rel="stylesheet">

  <!-- Roboto font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">


  <title>HASH</title>

</head>

<body>

  <div class="page-container">

    <div class="row">

      <!-- SIDENAV BEGINS -->


      <div class="col-lg-2 sidenav">

        <div class="title">
          <a href="/store">MARKET</a>
        </div>
        <div class="title">
          <a href="/access">SHOWTIME</a>
        </div>
        <div class="title">
          <a href="/up">UPLOAD</a>
        </div>
        <div class="title">
          <a href="/transfer">TRANSFERS</a>
        </div>

      </div>

      <!-- SIDENAV ENDS -->






      <!-- MAIN BODY BEGINS -->


      <div class="offset-lg-2 col-lg-10 main-body">


        <div class="row">
          <div class="title col-4">
            KRYTPO MEDIA
          </div>

        </div>


        <br>

        <div class="divider">CREATE ASSET</div>

        <div class="row">

          <!-- ROW STARTS -->

          <div class="col-4 text-left search">
            <input type="search" class="search" name="token-id" placeholder="TOKEN-NAME" id="token-name">
          </div>
          <div class="col-4 text-left search">
            <input type="search" class="search" name="symbol" placeholder="TOKEN-SYMBOL" id="symbol">
          </div>
          
            <br><br>
            <button class="btn btn-primary" style="width: 10vw; margin: auto;"  onclick="createAsset(symbol, name)">GO</button>
          

        </div>
        <!-- ROW ENDS -->
        <br><br>
        <div class="divider">GENERATE YOUR ASSET</div>

        <div class="row">

          <!-- ROW STARTS -->
          <div class="col-4 text-left search">
            <input type="search" class="search" name="to" placeholder="TOKEN-SYMBOL" id="token-symbol">
          </div>
          <div class="col-4 text-left search">
            <input type="search" class="search" name="token-id" placeholder="ASSET TYPE" id="asset-type">
          </div>
          <div class="col-4 text-left search">
                <input type="search" class="search" name="token-id" placeholder="HASH" id="hash">
              </div>
          <div class="col-4 text-left search">
            <input type="search" class="search" name="symbol" placeholder="MESSAGE" id="message">
          </div>

          
        </div>

        <!-- ROW ENDS -->
        <br><br>
        <button class="btn btn-primary" style="width: 10vw; margin: auto;" onclick="generateAsset(token-symbol, asset-type,hash,message)">GO</button>
          

        <!-- ROW ENDS -->
      </div>

      <!-- ROW ENDS -->

    </div>

    <!-- MAIN BODY ENDS -->

  </div>

  <!-- ALL MODALS -->

</div>

<script type="text/javascript">
  
  var symbol = document.getElementById('symbol').value
  var name = document.getElementById('token-name').value

  function createAsset(symbol, name) {
    console.log(symbol)


  }

  var token_symbol=document.getElementById('token-symbol').value
  var hash=document.getElementById('hash').value
  var message=document.getElementById('message').value
  var asset_type=document.getElementById('asset-type').value

  function generateAsset(token_symbol,asset_type,hash,message){

  }

</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html> 